# ANOVA TEST

In [1]:
dati <- read.csv("BlackFriday.csv", header = TRUE)
summary(dati)
dim(dati)

    User_ID            Product_ID     Gender        Age
 Min.   :1000001   P00265242:  1858   F:132197   0-17 : 14707
 1st Qu.:1001495   P00110742:  1591   M:405380   18-25: 97634
 Median :1003031   P00025442:  1586              26-35:214690
 Mean   :1002992   P00112142:  1539              36-45:107499
 3rd Qu.:1004417   P00057642:  1430              46-50: 44526
 Max.   :1006040   P00184942:  1424              51-55: 37618
                   (Other)  :528149              55+  : 20903
   Occupation     City_Category Stay_In_Current_City_Years Marital_Status
 Min.   : 0.000   A:144638      0 : 72725                  Min.   :0.0000
 1st Qu.: 2.000   B:226493      1 :189192                  1st Qu.:0.0000
 Median : 7.000   C:166446      2 : 99459                  Median :0.0000
 Mean   : 8.083                 3 : 93312                  Mean   :0.4088
 3rd Qu.:14.000                 4+: 82889                  3rd Qu.:1.0000
 Max.   :20.000                                            Max.   :1.0000

 Product_Category_1 Product_Category_2 Product_Category_3    Purchase
 Min.   : 1.000     Min.   : 2.00      Min.   : 3.0       Min.   :  185
 1st Qu.: 1.000     1st Qu.: 5.00      1st Qu.: 9.0       1st Qu.: 5866
 Median : 5.000     Median : 9.00      Median :14.0       Median : 8062
 Mean   : 5.296     Mean   : 9.84      Mean   :12.7       Mean   : 9334
 3rd Qu.: 8.000     3rd Qu.:15.00      3rd Qu.:16.0       3rd Qu.:12073
 Max.   :18.000     Max.   :18.00      Max.   :18.0       Max.   :23961
                    NA's   :166986     NA's   :373299

[1] 537577     12

In [2]:
dati$Gender <- as.factor(dati$Gender)
dati$Product_Category_1 <- as.factor(dati$Product_Category_1)
dati$Occupation <- as.factor(dati$Occupation)
dati$Marital_Status <- as.factor(dati$Marital_Status)
dati$City_Category <- as.factor(dati$City_Category)
dati$Product_Category_2 <- as.factor(dati$Product_Category_2)
dati$Product_Category_3 <- as.factor(dati$Product_Category_3)
dati$Age <- as.factor(dati$Age)
dati$Stay_In_Current_City_Years <- as.factor(dati$Stay_In_Current_City_Years)

In [6]:
attach(dati)
fit1 <- aov(Purchase ~ Stay_In_Current_City_Years, data=dati)
fit2 <- aov(Purchase ~ Gender, data=dati)
fit3 <- aov(Purchase ~ Product_Category_1, data=dati)
fit4 <- aov(Purchase ~ Occupation, data=dati)
fit5 <- aov(Purchase ~ Marital_Status, data=dati)
fit6 <- aov(Purchase ~ City_Category, data=dati)
fit7 <- aov(Purchase ~ Product_Category_2, data=dati)
fit8 <- aov(Purchase ~ Age, data=dati)
fit9 <- aov(Purchase ~ Product_Category_3, data=dati)
fit10 <- aov(Purchase ~ Gender, data=dati)

The following objects are masked from dati (pos = 3):

    Age, City_Category, Gender, Marital_Status, Occupation,
    Product_Category_1, Product_Category_2, Product_Category_3,
    Product_ID, Purchase, Stay_In_Current_City_Years, User_ID

In [7]:
summary(fit1)

                               Df    Sum Sq   Mean Sq F value   Pr(>F)
Stay_In_Current_City_Years      4 1.026e+09 256572659   10.34 2.26e-08 ***
Residuals                  537572 1.334e+13  24808857
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [8]:
summary(fit2)

                Df    Sum Sq   Mean Sq F value Pr(>F)
Gender           1 4.815e+10 4.815e+10    1948 <2e-16 ***
Residuals   537575 1.329e+13 2.472e+07
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [9]:
summary(fit3)

                       Df    Sum Sq   Mean Sq F value Pr(>F)
Product_Category_1     17 8.369e+12 4.923e+11   53265 <2e-16 ***
Residuals          537559 4.968e+12 9.243e+06
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [10]:
summary(fit4)

                Df    Sum Sq   Mean Sq F value Pr(>F)
Occupation      20 5.089e+10 2.544e+09   102.9 <2e-16 ***
Residuals   537556 1.329e+13 2.472e+07
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [11]:
summary(fit5)

                   Df    Sum Sq  Mean Sq F value Pr(>F)
Marital_Status      1 2.220e+05   222013   0.009  0.925
Residuals      537575 1.334e+13 24810627

In [12]:
summary(fit6)

                  Df    Sum Sq   Mean Sq F value Pr(>F)
City_Category      2 6.796e+10 3.398e+10    1377 <2e-16 ***
Residuals     537574 1.327e+13 2.468e+07
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [13]:
summary(fit7)

                       Df    Sum Sq   Mean Sq F value Pr(>F)
Product_Category_2     16 1.382e+12 8.640e+10    3728 <2e-16 ***
Residuals          370574 8.590e+12 2.318e+07
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
166986 observations deleted due to missingness

In [14]:
summary(fit8)

                Df    Sum Sq   Mean Sq F value Pr(>F)
Age              6 6.471e+09 1.078e+09   43.49 <2e-16 ***
Residuals   537570 1.333e+13 2.480e+07
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [15]:
summary(fit9)

                       Df    Sum Sq   Mean Sq F value Pr(>F)
Product_Category_3     14 2.276e+11 1.626e+10   665.2 <2e-16 ***
Residuals          164263 4.014e+12 2.444e+07
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
373299 observations deleted due to missingness

In [16]:
summary(fit10)

                Df    Sum Sq   Mean Sq F value Pr(>F)
Gender           1 4.815e+10 4.815e+10    1948 <2e-16 ***
Residuals   537575 1.329e+13 2.472e+07
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1